include README.md
include LICENSE
include docs/project/CHANGELOG.md
include docs/project/CONTRIBUTING.md
include docs/project/SECURITY.md
include docs/project/RELEASE_CHECKLIST.md
include *.md
recursive-include web/frontend *
